<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MollyMoranFYP">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".Activities.RetrieveDataActivity"></activity>
        <activity android:name=".Activities.AdminHomeActivity"></activity>
        <activity android:name=".Activities.AdminHomeActivity2"></activity>
        <activity android:name=".Activities.ViewRemindersActivity"></activity>
        <activity android:name=".Activities.InputReminderActivity"></activity>
        <activity android:name=".Activities.RemindersActivity"></activity>
        <activity android:name=".Activities.RegistrationActivity"></activity>
        <activity android:name=".Activities.SendMessageActivity"></activity>
        <activity android:name=".Activities.ViewMessagesActivity"></activity>
        <activity android:name=".Activities.DetailsActivity"></activity>
        <activity android:name=".Activities.WeatherActivity"></activity>
        <activity android:name=".Activities.UserHomeActivity"></activity>
        <activity android:name=".Activities.LoginActivity"></activity>
        <activity android:name=".Activities.UserSetupActivity"></activity>
        <activity android:name=".Activities.NewsActivity"></activity>
        <activity android:name=".Activities.NewsDetailsActivity"></activity>
        <activity android:name=".Activities.CustomizeUserHome"></activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>